<%= simple_form_for([:admin, @airline]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :name_alias %>
    <%= f.input :iata %>
    <%= f.input :icao %>
    <%= f.input :callsign %>
    <%= f.input :country %>
    <%= f.input :active, as: :boolean, wrapper: :inline_checkbox %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
