<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <div class="btn-group pull-right">
        <%= link_to 'Nova Companhia Aérea', new_admin_airline_path, class: 'btn btn-primary' %>
      </div>

      <h1>Companhia Aérea</h1>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Apelido</th>
          <th>IATA</th>
          <th>ICAO</th>
          <th>CallSign</th>
          <th>País</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @airlines.each do |airline| %>
          <tr>
            <td><%= airline.name %></td>
            <td><%= airline.name_alias %></td>
            <td><%= airline.iata %></td>
            <td><%= airline.icao %></td>
            <td><%= airline.callsign %></td>
            <td><%= airline.country %></td>
            <td>
              <div class="btn-group pull-right">
                <%= link_to 'Editar', edit_admin_airline_path(airline), class: 'btn btn-default' %>
                <%= link_to 'Remover', [:admin, airline], method: :delete, data: { confirm: 'Você tem certeza disso?' }, class: 'btn btn-danger' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
