<header class="main-header">
  <div class="main-header__top-panel">
    <div>Bem Vindo</div>
    <div class="large"><%= current_user.name %></div>
    <div class="small"><%= link_to 'Sair', destroy_user_session_path, method: :delete %></div>
  </div>

  <div class="main-header__tabs">
    <%= link_to trips_path, class: 'main-header__tab is-selected' do %>
      Minhas <br />Viagens
    <% end %>

    <%= link_to documents_path, class: 'main-header__tab' do %>
      Meus <br />Documentos
    <% end %>
  </div>
</header>


<section class="card-listing">
  <% @trips.each do |trip| %>
    <article class="card card--trip">
      <%= link_to trip_path(trip), class: 'card__block-link' do %>
        <header class="card__header" style="background-image: url(<%= trip.image %>)">
          <div class="card__header-content trip-header">
            <h1><%= trip.name %></h1>
            <h2><%= date_range trip.starts_at, trip.ends_at %></h2>
          </div>
        </header>

        <div class="card__body">
          <%= trip.description %>
        </div>
      <% end %>
    </article>
  <% end %>
</section>
