<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <%= link_to 'Voltar', [:admin, @trip], class: 'btn btn-default pull-right' %>

      <h1>Reservas <small><%= @appointment.company.name %></small></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= simple_form_for([:hotel_reservations, :admin, @trip, @appointment], method: :put) do |f| %>
    <table class="table">
      <thead>
        <tr>
          <th>Passageiro</th>
          <th>Quarto</th>
          <th>Código de Confirmação</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @hotel_reservations.each do |hotel_reservation| %>
          <%= f.simple_fields_for "hotel_reservations_attributes[]", hotel_reservation do |reservation_fields| %>
            <%= reservation_fields.input :id, as: :hidden %>
            <tr>
              <td><%= hotel_reservation.registration.user.name %></td>
              <td><%= reservation_fields.input :room, label: false %></td>
              <td><%= reservation_fields.input :confirmation_code, label: false %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
</div>
