<div class="row">
  <div class="col-md-12">
    <%= link_to 'New Hotel Reservation', new_admin_trip_registration_hotel_reservation_path(@trip, @registration), class: 'btn btn-primary pull-right' %>

    <div class="page-header">
      <h1><%= link_to @trip.name, admin_trip_registrations_path(@trip) %> &gt; <%= @registration.user.name %> </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to 'Detalhes', [:admin, @trip, @registration] %>
      </li>
      <li role="presentation">
        <%= link_to 'Passagens Aéreas', admin_trip_registration_boarding_tickets_path(@trip, @registration) %>
      </li>
      <li role="presentation" class="active">
        <a href="#">Hospedagem</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table>
      <thead>
        <tr>
          <th>Trip hotel</th>
          <th>Room</th>
          <th>Notes</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @hotel_reservations.each do |hotel_reservation| %>
          <tr>
            <td><%= hotel_reservation.trip_hotel.name %></td>
            <td><%= hotel_reservation.room %></td>
            <td><%= hotel_reservation.notes %></td>
            <td><%= link_to 'Show', [:admin, @trip, @registration, hotel_reservation] %></td>
            <td><%= link_to 'Edit', edit_admin_trip_registration_hotel_reservation_path(@trip, @registration, hotel_reservation) %></td>
            <td><%= link_to 'Destroy', [:admin, @trip, @registration, hotel_reservation], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
