<p id="notice"><%= notice %></p>

<p>
  <strong>Trip hotel:</strong>
  <%= @hotel_reservation.trip_hotel %>
</p>

<p>
  <strong>Room:</strong>
  <%= @hotel_reservation.room %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @hotel_reservation.notes %>
</p>

<%= link_to 'Edit', edit_admin_trip_registration_hotel_reservation_path(@trip, @registration, @hotel_reservation) %> |
<%= link_to 'Back', admin_trip_registration_hotel_reservations_path(@trip, @registration) %>
