<%= simple_form_for([:admin, @destination.trip, @destination]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div>
      <%= f.input :name, as: :place %>
      <%= f.input :latitude, as: :hidden, input_html: { class: 'places-latitude' } %>
      <%= f.input :longitude, as: :hidden, input_html: { class: 'places-longitude' } %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :starts_at %>
        <%= f.input :ends_at %>
      </div>
      <div class="col-md-6">
        <%= image_tag(@destination.picture_url.presence || 'no_image.png' , class: 'img-responsive places-image-tag') %>
        <%= f.input :picture_url, as: :hidden, input_html: { class: 'places-image-form' } %>
      </div>
    </div>
    <%= f.association :hotel %>
  </div>

  <% unless @destination.new_record? %>
    <div class="form-inputs">
      <%= field_set_tag 'Passageiros' do %>
        <table class="table">
          <thead>
            <tr>
              <th>Passageiro</th>
              <th>Quarto</th>
              <th>Notas</th>
            </tr>
          </thead>

          <tbody>
            <% @destination.hotel_reservations.each do |hotel_reservation| %>
              <%= f.simple_fields_for "hotel_reservations_attributes[]", hotel_reservation do |reservation_fields| %>
                <%= reservation_fields.input :id, as: :hidden %>
                <tr>
                  <td><%= hotel_reservation.registration.user.name %></td>
                  <td>
                    <%= reservation_fields.input :room, label: false %>
                  </td>
                  <td>
                    <%= reservation_fields.input :notes, label: false %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
