<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <%= link_to 'Novo Destino', new_admin_trip_destination_path(@trip), class: 'btn btn-primary pull-right' %>

      <h1><%= @trip.name %> </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to 'Detalhes', [:admin, @trip] %>
      </li>
      <li role="presentation">
        <%= link_to 'Clientes', admin_trip_registrations_path(@trip) %>
      </li>
      <li role="presentation" class="active"><a href="#">Destinos</a></li>
      <li role="presentation">
        <%= link_to 'Voos', admin_trip_flights_path(@trip) %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Início</th>
          <th>Fim</th>
          <th>Endereço</th>
          <th>Imagem</th>
          <th>Hotel</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @destinations.each do |destination| %>
          <tr>
            <td><%= destination.name %></td>
            <td><%= destination.description %></td>
            <td><%= l destination.starts_at %></td>
            <td><%= l destination.ends_at %></td>
            <td><%= destination.address %></td>
            <td><%= destination.picture_url %></td>
            <td><%= destination.hotel.name %></td>
            <td class="text-right">
              <div class="btn-group" role="group">
                <%= link_to 'Eventos', admin_trip_destination_events_path(destination.trip_id, destination), class: 'btn btn-default' %>
                <%= link_to 'Editar', edit_admin_trip_destination_path(destination.trip_id, destination), class: 'btn btn-default' %>
                <%= link_to 'Remover', [:admin, destination.trip, destination], method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-default' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
