<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1><%= @trip.name %> </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to 'Detalhes', [:admin, @trip] %>
      </li>
      <li role="presentation">
        <%= link_to 'Clientes', admin_trip_registrations_path(@trip) %>
      </li>
      <li role="presentation" class="active"><a href="#">Destinos</a></li>
      <li role="presentation">
        <%= link_to 'Voos', admin_trip_flights_path(@trip) %>
      </li>
      <li role="presentation">
        <%= link_to 'Hotéis', admin_trip_trip_hotels_path(@trip) %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Starts at</th>
          <th>Ends at</th>
          <th>Address</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Google places</th>
          <th>Picture url</th>
          <th>Order</th>
          <th>Trip</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @destinations.each do |destination| %>
          <tr>
            <td><%= destination.name %></td>
            <td><%= destination.description %></td>
            <td><%= destination.starts_at %></td>
            <td><%= destination.ends_at %></td>
            <td><%= destination.address %></td>
            <td><%= destination.latitude %></td>
            <td><%= destination.longitude %></td>
            <td><%= destination.google_places_id %></td>
            <td><%= destination.picture_url %></td>
            <td><%= destination.order %></td>
            <td><%= destination.trip.name %></td>
            <td><%= link_to 'Show', [:admin, destination.trip, destination] %></td>
            <td><%= link_to 'Edit', edit_admin_trip_destination_path(destination.trip_id, destination) %></td>
            <td><%= link_to 'Destroy', [:admin, destination.trip, destination], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Destination', new_admin_trip_destination_path(@trip) %>
