<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <%= link_to 'Novo appointment', new_admin_trip_appointment_path(@trip), class: 'btn btn-primary pull-right' %>

      <h1>Listing appointments</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
                <th>Type</th>
                <th>Description</th>
                <th>When</th>
                <th>Details</th>
                <th></th>
        </tr>
      </thead>

      <tbody>
        <% @appointments.each do |appointment| %>
          <tr>
                    <td><%= appointment.type %></td>
                    <td><%= appointment.description %></td>
                    <td><%= appointment.scheduled_at %></td>
                    <td><%= appointment.details %></td>
                    <td class="text-right">
              <div class="btn-group" role="group">
                <%= link_to 'Ver', [:admin, @trip, appointment], class: 'btn btn-default' %>
                <%= link_to 'Editar', edit_admin_trip_appointment_path(@trip, appointment), class: 'btn btn-default' %>
                <%= link_to 'Remover', [:admin, @trip, appointment], method: :delete, data: { confirm: 'Você tem certeza disso?' }, class: 'btn btn-danger' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
