<%= simple_form_for([:admin, @trip, @destination, @event]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :place %>
    <%= f.input :starts_at %>
    <%= f.input :ends_at %>
    <%= f.input :event_type, collection: { 'Passeio' => :tour, 'Visita Técnica' => :visit, 'Transporte' => :transport, 'Outros' => :other } %>
    <%= f.association :company %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
