<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <div class="btn-group pull-right">
        <%= link_to 'Voltar', admin_trip_destinations_path(@trip, @destination), class: 'btn btn-default' %>
        <%= link_to 'Novo Evento', new_admin_trip_destination_event_path(@trip, @destination), class: 'btn btn-primary' %>
      </div>

      <h1><%= link_to @trip.name, admin_trip_registrations_path(@trip) %> &gt; Eventos em <%= @destination.name %> </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Nome</th>
          <th>Empresa</th>
          <th>Lugar</th>
          <th>Descrição</th>
          <th>Começa em</th>
          <th>Finaliza em</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.label %></td>
            <td><%= event.name %></td>
            <td><%= event.company.try(:name) %></td>
            <td><%= event.place.try(:name) %></td>
            <td><%= event.description %></td>
            <td><%= l event.starts_at, format: :short %></td>
            <td><%= l event.ends_at, format: :short %></td>
            <td class="text-right">
              <div class="btn-group" role="group">
                <%= link_to 'Editar', edit_admin_trip_destination_event_path(@trip, @destination, event), class: 'btn btn-default' %>
                <%= link_to 'Remover', [:admin, @trip, @destination, event], method: :delete, data: { confirm: 'Você tem certeza disso?' }, class: 'btn btn-danger' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
