<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <div class="btn-group pull-right">
        <%= link_to 'Voltar', admin_places_path, class: 'btn btn-default' %>
        <%= link_to 'Editar', edit_admin_place_path(@place), class: 'btn btn-default' %>
      </div>

      <h1>Visualizando Lugar</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Nome:</dt>
      <dd><%= @place.name %></dd>

      <dt>Descrição:</dt>
      <dd><%= @place.description %></dd>

      <dt>Imagem:</dt>
      <dd><%= @place.picture_url %></dd>

      <dt>Endereço:</dt>
      <dd><%= @place.address %></dd>

    </dl>
  </div>
</div>
