<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <%= link_to 'New Flight', new_admin_trip_flight_path(@trip), class: 'btn btn-primary pull-right' %>

      <h1><%= @trip.name %> </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to 'Detalhes', [:admin, @trip] %>
      </li>
      <li role="presentation">
        <%= link_to 'Clientes', admin_trip_registrations_path(@trip) %>
      </li>
      <li role="presentation">
        <%= link_to 'Destinos', admin_trip_destinations_path(@trip) %>
      </li>
      <li role="presentation" class="active"><a href="#">Voos</a></li>
      <li role="presentation">
        <%= link_to 'Hotéis', admin_trip_trip_hotels_path(@trip) %>
      </li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <table>
      <thead>
        <tr>
          <th>Airline</th>
          <th>Departure at</th>
          <th>Arrives at</th>
          <th>Flight number</th>
          <th>Origin</th>
          <th>Destination</th>
          <th>Boarding gate</th>
          <th>Phone</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @flights.each do |flight| %>
          <tr>
            <td><%= flight.airline.name %></td>
            <td><%= flight.departure_at %></td>
            <td><%= flight.arrives_at %></td>
            <td><%= flight.flight_number %></td>
            <td><%= flight.origin %></td>
            <td><%= flight.destination %></td>
            <td><%= flight.boarding_gate %></td>
            <td><%= flight.phone %></td>
            <td><%= link_to 'Show', [:admin, flight.trip, flight] %></td>
            <td><%= link_to 'Edit', edit_admin_trip_flight_path(flight.trip, flight) %></td>
            <td><%= link_to 'Destroy', [:admin, flight.trip, flight], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
