<header class="main-header">
  <div class="trip-top-bar" style="background-image: url(<%= @trip.image %>)">
    <div class="trip-top-bar__contents">
      <div class="trip-top-bar__back">
        <%= link_to trips_path do %>
          <%= image_tag 'back.png' %>
        <% end %>
      </div>

      <div class="trip-header">
        <h1><%= @trip.name %></h1>
        <h2><%= date_range @trip.starts_at, @trip.ends_at %></h2>
      </div>
    </div>
  </div>

  <div class="main-header__tabs">
    <%= link_to trip_path(@trip), class: 'main-header__tab' do %>
      Roteiro
    <% end %>

    <%= link_to trip_documents_path(@trip), class: 'main-header__tab is-selected' do %>
      Na Palma da Mão
    <% end %>
  </div>
</header>

<section class="card-listing">
  <%= link_to passport_trip_path(@trip), class: 'card card--document card--document-1' do %>
    <article class="card__header">
      <%= image_tag 'passport.png' %>
    </article>

    <div class="card__body">
      Passaporte
    </div>
  <% end %>

  <% if @registration.insurance? %>
    <%= link_to insurance_trip_path(@trip), class: 'card card--document card--document-2' do %>
      <article class="card__header">
        <%= image_tag 'lugage.png' %>
      </article>

      <div class="card__body">
        Seguro de Viagem
      </div>
    <% end %>
  <% end %>

  <a href="" class="card card--document card--document-3">
    <article class="card__header">
      <%= image_tag 'tickets.png' %>
    </article>

    <div class="card__body">
      Passagens de Avião
    </div>
  </a>
</section>
