<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <%= link_to 'Cadastrar', new_admin_trip_path, class: 'btn btn-primary pull-right', role: 'button' %>

      <h1>Viagens </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <% @trips.each do |trip| %>
      <article class="trip-widget">
        <h1><%= trip.name %></h1>
        <p><%= trip.description %></p>
        <div class="btn-group" role="group">
          <%= link_to 'Acessar', [:admin, trip], class: 'btn btn-primary', role: 'button' %>
          <%= link_to 'Editar', edit_admin_trip_path(trip), class: 'btn btn-default', role: 'button' %>
          <%= link_to 'Remover', [:admin, trip], method: :delete, class: 'btn btn-danger', role: 'button' %>
        </div>
      </article>
    <% end %>
  </tbody>
</table>

<br>

