<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <div class="btn-group pull-right" role="group">
        <%= link_to 'Editar', edit_admin_trip_path(@trip), class: 'btn btn-default', role: 'button' %>
        <%= link_to 'Voltar', admin_trips_path, class: 'btn btn-default', role: 'button' %>
      </div>

      <h1><%= @trip.name %> </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Detalhes</a></li>
      <li role="presentation">
        <%= link_to 'Clientes', admin_trip_registrations_path(@trip) %>
      </li>
      <li role="presentation">
        <%= link_to 'Destinos', admin_trip_destinations_path(@trip) %>
      </li>
      <li role="presentation">
        <%= link_to 'Transportes', admin_trip_transports_path(@trip) %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="tab-content">
      <div class="tab-pane active">
        <p>
          <strong>Nome:</strong>
          <%= @trip.name %>
        </p>

        <p>
          <strong>Descrição:</strong>
          <%= @trip.description %>
        </p>

        <p>
          <strong>Partida:</strong>
          <%= l @trip.starts_at %>
        </p>

        <p>
          <strong>Retorno:</strong>
          <%= l @trip.ends_at %>
        </p>

      </div>
    </div>
  </div>
</div>
