<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1><%= @trip.name %> </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Detalhes</a></li>
      <li role="presentation">
        <%= link_to 'Clientes', admin_trip_registrations_path(@trip) %>
      </li>
      <li role="presentation">
        <%= link_to 'Destinos', admin_trip_destinations_path(@trip) %>
      </li>
      <li role="presentation">
        <%= link_to 'Voos', admin_trip_flights_path(@trip) %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="tab-content">
      <div class="tab-pane active">
        <p>
          <strong>Name:</strong>
          <%= @trip.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @trip.description %>
        </p>

        <p>
          <strong>Starts at:</strong>
          <%= @trip.starts_at %>
        </p>

        <p>
          <strong>Ends at:</strong>
          <%= @trip.ends_at %>
        </p>


        <div class="btn-group" role="group">
          <%= link_to 'Edit', edit_admin_trip_path(@trip), class: 'btn btn-primary', role: 'button' %>
          <%= link_to 'Back', admin_trips_path, class: 'btn btn-default', role: 'button' %>
        </div>
      </div>
    </div>
  </div>
</div>
