<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <div class="btn-group pull-right" role="group">
        <%= link_to 'Editar', edit_admin_trip_path(@trip), class: 'btn btn-default', role: 'button' %>
        <%= link_to 'Voltar', admin_trips_path, class: 'btn btn-default', role: 'button' %>
      </div>

      <h1><%= @trip.name %> <small><%= @trip.description %> (<%= date_range @trip.starts_at, @trip.ends_at %>)</small></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Detalhes</a></li>
      <li role="presentation">
        <%= link_to 'Clientes', admin_trip_registrations_path(@trip) %>
      </li>
    </ul>
  </div>
</div>

<div class="tab-content">
  <div class="tab-pane active">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
</div>
