<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <%= link_to 'Novo Patrocinador', new_admin_trip_sponsor_path(@trip), class: 'btn btn-primary pull-right' %>

      <h1><%= @trip.name %> </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to 'Detalhes', [:admin, @trip] %>
      </li>
      <li role="presentation">
        <%= link_to 'Passageiros', admin_trip_registrations_path(@trip) %>
      </li>
      <li role="presentation" class="active">
        <a href="#">Patrocinadores</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Imagem</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @sponsors.each do |sponsor| %>
          <tr>
            <td><%= sponsor.name %></td>
            <td><%= image_tag sponsor.image, class: 'sponsor-image' %></td>
            <td class="text-right">
              <div class="btn-group" role="group">
                <%= link_to 'Editar', edit_admin_trip_sponsor_path(@trip, sponsor), class: 'btn btn-default' %>
                <%= link_to 'Remover', [:admin, @trip, sponsor], method: :delete, data: { confirm: 'Você tem certeza disso?' }, class: 'btn btn-danger' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
