<%= simple_form_for([:admin, @trip, @registration, @boarding_ticket]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :flight, label_method: :flight_number %>
    <%= f.input :flight_class %>
    <%= f.input :seat %>
    <%= f.input :qr_code %>
    <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
