<%= simple_form_for([:admin, @trip, @transport]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :company %>
    <%= f.input :departure_at %>
    <%= f.input :arrives_at %>
    <%= f.input :origin %>
    <%= f.input :destination %>
    <%= f.input :attachment_url %>
    <%= f.input :mean, collection: { 'Aéreo' => :plane, 'Férreo' => :train, 'Fluvial' => :ship, 'Rodoviário' => :bus } %>

    <div id="transport_plane" class="transport-mean">
      <%= f.input :boarding_gate %>
      <%= f.input :flight_number %>
    </div>

    <div id="transport_train" class="transport-mean">
      <%= f.input :platform %>
    </div>

    <div id="transport_bus" class="transport-mean">
      <%= f.input :boarding_gate %>
    </div>
  </div>

  <% unless @transport.new_record? %>
    <div class="form-inputs">
      <%= field_set_tag 'Passageiros' do %>
        <table class="table">
          <thead>
            <tr>
              <th>Passageiro</th>
              <th>Anexo</th>
              <th>Assento</th>
            </tr>
          </thead>

          <tbody>
            <% @transport.transits.each do |transit| %>
              <%= f.simple_fields_for "transits_attributes[]", transit do |transit_fields| %>
                <%= transit_fields.input :id, as: :hidden %>
                <tr>
                  <td><%= transit.registration.user.name %></td>
                  <td>
                    <%= transit_fields.input :attachment_url, label: false %>
                  </td>
                  <td>
                    <%= transit_fields.input :seat, label: false %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
