<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <div class="pull-right">
        <%= simple_form_for([:admin, @trip, @registration], wrapper: :inline_form, html: { class: 'form-inline' }) do |f| %>
          <%= f.association :user, prompt: "Escolha um passageiro" %>
          <%= f.submit 'Registrar', class: 'btn btn-primary' %>
        <% end %>
      </div>

      <h1><%= @trip.name %> </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to 'Detalhes', [:admin, @trip] %>
      </li>
      <li role="presentation" class="active">
        <a href="#">Passageiros</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <table class="table">
      <thead>
        <th>Nome</th>
        <th>&nbsp;</td>
      </thead>

      <tbody>
        <% @registrations.each do |registration| %>
          <tr>
            <td><%= registration.user.name %></td>
            <td class="text-right">
              <div class="btn-group">
                <%= link_to 'Remover', admin_trip_registration_path(@trip, registration), method: :delete, class: 'btn btn-default' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
