<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <div class="btn-group pull-right" role="group">
        <%= link_to 'Voltar', admin_trip_path(@trip), class: 'btn btn-default', role: 'button' %>
      </div>

      <h1><%= link_to @trip.name, admin_trip_registrations_path(@trip) %> &gt; <%= @registration.user.name %> </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to 'Detalhes', [:admin, @trip, @registration] %>
      </li>
      <li role="presentation">
        <%= link_to 'Passagens', admin_trip_registration_transits_path(@trip, @registration) %>
      </li>
      <li role="presentation">
        <%= link_to 'Hospedagem', admin_trip_registration_hotel_reservations_path(@trip, @registration) %>
      </li>
      <li role="presentation" class="active">
        <a href="#">Roteiro</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h1>Roteiro</h1>
    <% @reservations.each do |reservation| %>
      <h2><%= reservation.destination_name %> - <%= l reservation.starts_at.to_date, format: :short %></h2>

      <ul>
        <li>
          <strong>Hotel: </strong> <%= reservation.hotel_name %><br />
          <%= simple_format reservation.hotel_address, wrapper_tag: :address %>
        </li>
        <% reservation.events.each do |event| %>
          <li>
            <strong><%= event.name %></strong><br />
            <%= l event.starts_at, format: :short %> a <%= l event.ends_at, format: :short %><br />
            <%= event.label %><br />
            <%= simple_format event.description %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="col-md-4">
    <h1>Transportes</h2>

    <% @transits.each do |transit| %>
      <h2><%= transit.transport_name %></h2>
      <dl class="dl-horizontal">
        <dt>Empresa</dt>
        <dd>
          <strong><%= transit.company_name %></strong><br />
          <%= simple_format transit.company_address, wrapper_tag: :address %>
        </dd>

        <dt>Meio</dt>
        <dd><%= transit.mean_label %></dd>

        <dt>Partida</dt>
        <dd><%= transit.origin %> (<%= l transit.departure_at, format: :short %>)</dd>

        <dt>Chegada</dt>
        <dd><%= transit.destination %> (<%= l transit.arrives_at, format: :short %>)</dd>

        <% if transit.transport.attachment_url.present? %>
          <dt>Anexo do Transporte</dt>
          <dd><%= link_to transit.transport.attachment_url %></dd>
        <% end %>

        <% transit.transport.details.each do |key, value| %>
          <dt><%= key %></dt>
          <dd><%= value %></dd>
        <% end %>

        <% if transit.seat.present? %>
          <dt>Assento</dt>
          <dd><%= transit.seat %></dd>
        <% end %>

        <% if transit.attachment_url.present? %>
          <dt>Anexo do Passageiro</dt>
          <dd><%= transit.attachment_url %></dd>
        <% end %>
      </dl>
    <% end %>
  </div>
</div>
