<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <div class="btn-group pull-right" role="group">
        <%= link_to 'Voltar', admin_trip_path(@trip), class: 'btn btn-default', role: 'button' %>
      </div>

      <h1><%= link_to @trip.name, admin_trip_registrations_path(@trip) %> &gt; <%= @registration.user.name %> </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Detalhes</a></li>
      <li role="presentation">
        <%= link_to 'Passagens', admin_trip_registration_transits_path(@trip, @registration) %>
      </li>
      <li role="presentation">
        <%= link_to 'Hospedagem', admin_trip_registration_hotel_reservations_path(@trip, @registration) %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
      <strong>Nome:</strong>
      <%= @registration.user.name %>
    </p>
  </div>
</div>
