<%= simple_form_for([:admin, @trip, @appointment]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :company, collection: Company.place %>
    <%= f.input :description %>
    <%= f.input :long_description, as: :text %>
    <% Time.use_zone(f.object.time_zone) do %>
      <%= f.input :scheduled_at %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
