<%= simple_form_for([:admin, @admin_user]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= if f.object.new_record? %>
      <%= f.input :password %>
    <% end %>
    <%= f.input :phone %>

    <%= f.input :passport %>
    <%= f.hidden_field :passport_cache %>
    <% if f.object.passport? %>
      <strong>Arquivo Atual: <%= link_to(f.object.passport_url, f.object.passport_url, target: '_blank') %></strong>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
