<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <div class="btn-group pull-right">
        <%= link_to 'Editar', edit_admin_user_path(@admin_user), class: 'btn btn-default' %>
        <%= link_to 'Voltar', admin_users_path, class: 'btn btn-default' %>
      </div>
      <h1><%= @admin_user.name %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
      <strong>Email:</strong>
      <%= @admin_user.email %>
    </p>

    <p>
      <strong>Nome:</strong>
      <%= @admin_user.name %>
    </p>

    <p>
      <strong>Foto:</strong>
      <%= @admin_user.picture_url %>
    </p>

    <p>
      <strong>CPF:</strong>
      <%= @admin_user.cpf %>
    </p>

    <p>
      <strong>Aniversário:</strong>
      <%= l @admin_user.birthday %>
    </p>

    <p>
      <strong>Endereço:</strong>
      <%= @admin_user.address %>
    </p>

    <p>
      <strong>Telefone:</strong>
      <%= @admin_user.phone %>
    </p>
  </div>
</div>
