<%= simple_form_for([:admin, @trip, @appointment]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :company, collection: Company.place %>
    <%= f.input :description %>
    <%= f.input :long_description %>
    <%= f.input :scheduled_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
