<p id="notice"><%= notice %></p>

<p>
  <strong>Hotel:</strong>
  <%= @trip_hotel.hotel.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @trip_hotel.notes %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @trip_hotel.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @trip_hotel.ends_at %>
</p>

<%= link_to 'Edit', edit_admin_trip_trip_hotel_path(@trip, @trip_hotel) %> |
<%= link_to 'Back', admin_trip_trip_hotels_path(@trip) %>
